.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.image-container img:hover {
    cursor: pointer;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-field {
    border-style: double;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
}

.display-btn {
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid #04AA6D; 
    padding: 5px;
    margin-right: 3px;
    cursor: pointer;
}

.reset-btn{
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid #be0b0b;
    padding: 5px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: #0b8a5b;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
